.mainContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    /* background-color: tomato; */
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.mainContent {
    margin: 5px;
    background-color: violet;
    border: solid 1px black;
    height: 70px;
    width: 70px;
}