html,
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    background: #ccc;
}
.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    top: 50%;
}
.slick-prev:before,
.slick-next:before {
    color: black !important;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .5;
}
.slick-current {
    opacity: 1;
}
.main {
    font-family: Arial;
    /* width:500px; */
    display: block;
    margin: 0 auto;
}
.action {
    display: block;
    margin: 100px auto;
    width: 100%;
    text-align: center;
}
.action a {
    display: inline-block;
    padding: 5px 10px;
    background: #f30;
    color: #fff;
    text-decoration: none;
}
.action a:hover {
    background: #000;
}
.buttons {
    padding: 0;
    margin-bottom: 10px;
}
.button {
    background: #3498db;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
}
input[type="file"] {
    display: block;
}

.imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}

.remove{
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}
.remove1
{
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: white;
    color: black;
}