/*//slick//*/

.texy{

    height: 240px;
    /*width: 300px;*/
    float: left;
    text-align:left;
    
}




.imges {
        margin-left: 290px;
        float: right;
        height: 240px;
        width: 300px;
}
.imges img{
        float: right;
        height: 240px;
        width: 300px;
}

    html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
    
        width: 50%;
        margin: auto;
        height: 250px;
    }

    .slick-slide {
        margin-top:150px;
      /*margin: 0px 20px;*/
      border: 4px solid black;
      height: 250px;



    }


    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
  


.slick-list {
    height:450px;
}


.variableslider{
    display: flex;
}

.variable  .img-item {
    width: 450px;
    height: 250px;

    /*margin: 50px;*/

}

.variable .img-item img{
    width: 634px;
    height: 242px;
    /*margin: 50px;*/
}   

img{
    width: 100%;
    height: 250px;
    /*margin: 50px;*/
    
}


/*custom css*/
.btn
{
    
    margin-left:300px;
    margin-bottom: -60px;

}
.add-text{
    background-color: grey;
    height: 20px;
}
.js-remove-slide{
    background-color: red;
    height: 30px;
}
.add-slide{
    background-color: green;
    height: 30px;
}

.text{

    width:200px;
    height:50px;
  position: absolute;
  top: 120px;
  left: 200px;
  background-color:rgba(255,255,255,0);
  
  padding-right: 20px;

}

.text p{
    font-color:black;
    padding-left:90px;
    font-weight: bold;
}
.video-wrapper {
    position: relative;
    
    height: 0;
}
.video-wrapper  {
    position: absolute;
    top: 0;
    left: 0;
    
    height: 250px;
}
.img-item iframe{
    width: 642px;
    height: 250px;
}





/* Navigation
============== */
html{
    scroll-behavior: smooth;
 }


header nav{
    background-color: rgba(0,0,0,0.2);
}

.navbar-toggler-icon{
    cursor: pointer;
}

#logo{
    font-family: 'Damion', cursive;
    font-size: 50px;
    color: #FFFFFF;
    margin-left: 20px;
    overflow: hidden;
    max-width:144.61px;
}


.navbar #tag0 .active {
    background-color: #74C7D5;
   
}

.navbar #tag1 .active {
    background-color: #c56661;
}

.navbar #tag2 .active {
    background-color: #A1CA6C;
}

.navbar #tag3 .active {
    background-color: #A1CA6C;
}

.navbar #tag4 .active {
    background-color: #82C8BD;
}


#x{
    padding: 30px 25px 20px 25px;
    border-radius: 0 0 4px 4px ;
    margin-top: -16px ;
}

#menu-color a{
    font-size: 18px;
    color: #FFFFFF;

}
#menu-color{
    max-width:600px;
}

#tag0:hover{
    background-color:#74C7D5; 
}


#tag1:hover{
    background-color:#c56661; 
}

#tag2:hover{
    background-color: #91778E; 
}

#tag3:hover{
    background-color:#A1CA6C; 
}
#tag4:hover{
    background-color:#82C8BD; 
}
/* section banner */

.banner{
    background: url("img/main-banner.png") no-repeat;
    height:100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

#indicators a{
    font-size: 60px;
    top: 35vh;
}

#dot-indicator{
    top:90vh;
}

#dot-indicator li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:black; 

}

.txt-block{
    background-color: rgba(255,255,255,0.5);
    width: 840px;
    height: 170px;
    margin-top: 20%;
    margin-left: 18%;
    border-radius: 4px;
}

.txt-block p{
    font-size: 60px;
    font-weight: 200;
    color: #74C7D5;
    line-height: 58px;
    margin-top: 20px;
    margin-left: 5%;
}

.txt-block p span{
    float: right;
}

.txt-block h1{
    font-size: 120px;
    font-weight: 900;
    color: #74C7D5;
    line-height: 58px;
    margin-top: 12%;
}


/*services*/

.Services{

    background-image: url("img/red-layer.png");
    background-repeat: no-repeat;
    background-color: #B24A50;
    background-size:cover;
    background-position: center;
    height:900px;
    width: 100%;
}


.service-content {
    margin-top: 150px;
    font-family: 'Lato';
    font-weight: lighter;
    color: #FFFFFF;
}

.service-content h2 {
    font-size: 40px;
}

.service-content h6 {
    font-size: 20px;
}

.service-content p {
    font-size: 14px;
    color: #FFCCCF;
}

.service-item {
    margin-top: 400px;
    width: 260px;
    height: 400px;
    background-color: #FFFFFF;
}

.service-block {
    height: 400px;
    width: 260px;
    background-color: #C8535A;
    border-radius: 4px;
    margin-top: 50%;
}

#bulb {
    background: url("img/light-bulb.png") no-repeat;
    cursor: pointer;
}

#design {
    background: url("img/m-wand.png") no-repeat;
    cursor: pointer;
}   

#develop {
    background: url("img/giars.png") no-repeat;
    cursor: pointer;
}

#launch {
    background: url("img/rocket.png") no-repeat;
    cursor: pointer;
}

#bulb,
#design,
#develop,
#launch {
    height: 40%;
    width: 60%;
    border-radius: 50%;
    background-color: white;
    background-position: center;
    margin-left: 20%;
    position: relative;
    top: 10%;
}

#bulb::before,
#design::before,
#develop::before,
#launch::before {
    content: "";
    height: 95%;
    width: 95%;
    border-radius: 50%;
    top: 2%;
    left: 3%;
    position: relative;
    display: block;
    border: 5px solid #C8535A;
    background: transparent;
}

.service-block h3 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 300;
    margin-top: 23%;
    text-align: center;
}

.service-block p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

}



/*card section start*/


.meet{
    
    background-color: #665464;
    background-size:cover;
    background-position:center;
    height:auto;
    width:100%;
}
#mt{
    background-image: url("img/purple-layer.png");
}


.meet h3{
    color:#fff;
    font-size:40px;
    padding-top:120px;
    

}
.meet p{
    text-align: center;
    font-family: Lato-Regular;
    font-size:14px;
    color:white;
}
.btn1{

    height: 65.09px;
    width: 276px;
    border-radius: 10px;
    background-color: #839357;
    border:0px;
    margin: 30px;
    color: white;
    font-weight: bold;

}
.butan{
    padding-bottom: 50px;
}



.image1{
    background-image: url(img/user-purple.png);
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #665464;
    border-radius: 100%;
    background-color: white;
    margin-top: 10%;
    overflow: hidden;
    
}
#cd{
    background-color:rgba(26, 24, 26, 0.3);
}
.card{
    
    height: 360px;
    margin-top: -15px;
    margin-bottom: 50px;
} 

.card:hover>.image1{
    background-image: url("img/user-orange.png");
    border: 3px solid red;   
}
.card p{
    color:green;
}
.card h5{
    color:white;
    font-weight: bold;
}
.facebook{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:25px; 
}
.fa{ margin-top:6px;}

.twitter{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 20px;
    margin-top:25px;
}
.googleplus{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 20px;
    margin-top:25px;
}
.linkedin{
    height:30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: grey;
    margin-right: 20px;
    margin-top:25px;
}
.social-media{
    display: flex;
}

.card:hover .twitter{
    border: 1px solid rgb(59,201,134);
    background-color:#74C7D5; 
}
.card:hover .linkedin{
    border: 1px solid rgb(72,72,167);
    background-color:#3E61AF; 
}
.card:hover .googleplus{
    border: 1px solid red;
    background-color:#DF5c64; 
}
.card:hover .facebook{
    border: 1px solid blue;
    background-color: #4f689e; 
}
.card:hover .card-text {
    /*border: 1px solid red;*/
    /*background-color:red;*/ 
    color: #FF8973;
}
.card:hover .card-title {
    color: #FFFFFF; 
}


/*filter start*/

.filter{
    background-image: url("img/green-layer.png");
    background-repeat: no-repeat;
    background-color: #81A256;
    background-size:cover;
    background-position: center;
    height:800px;
    width: 100%;

}
ul{
    max-width: 930px;
}
.filter h3{
    color:#fff;
    font-size:40px;
    padding-top:120px;
}
.filter p{
    text-align: center;
    font-family: Lato-Regular;
    font-size:14px;
    color:white;

}
.port-menu ul li{
    color:white;
    display: inline-block;
    margin: 0;
    list-style: none;
}
.port-item img{
    margin:10px;
    height:200px;
    width:250px;
    
}
.to{
    padding-left: 100px;
    cursor: pointer;

}
#ui{
    margin-left: 15%;
}
#xi{
margin-left:-100px;
}
.ligh{
    position: absolute;
    height: 35px;
    width: 250px;
    background-color: white;
    bottom: 10px;
    left: 10px;
    padding-top: 5px;
    font-family: Lato-Reguler;
    font-size: 14px;
}
img:hover{
    opacity: 0.2;
}
.plus {
    display: none;
}
.item:hover .plus{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid white;
    position: absolute;
    bottom: 50%;
    left: 45%;
    display: block;
    color:white;
}

.plus>.fa{
    margin:7px;
}
/*z*/
.
/*.contact-us :nth-child(2){
padding:0;
}*/
/*-
*/


.imgdesc
{
    text-align: center;
    position: relative;
    background-color: #ffffff;
    height:35px;
    width: 100%;
    transform: rotate(180deg);


}

.imgdesc:after
{
    content: '';
    position: absolute;
    top: 72%;
    margin-left: 120px;
    width: 0;
    border-top: solid 25px #ffffff;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    transform: rotate(180deg);
}

.imgdescs
{
    text-align: center;
    position: relative;
    
    height:0px;
    
    transform: rotate(180deg);


}

.imgdescs:after
{
    content: '';
    position: absolute;

    margin-top: 60px;
    margin-left: -25px;
    width: 0;
    border-top: solid 25px #839357;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    transform: rotate(180deg);
}
        
        .port-item{
            margin: auto;
        }

/*contact start*/

.contect {
    background: url("img/blue-layer.png") center;
    background-color: #75b4ab;
    height: auto;
    width: 100%;
    background-size: cover;
    text-align: center;
}

.contect .sub-GIt p{
    color: white;
    text-align: center;
    font-family: Lato-Regular;
    font-size:14px;
    color:white;
}

.contect .head-GIt{

    color:#fff;
    font-size:40px;
    


}
.contect h3{
    font-size:40px;
    margin-top: 120px;

}
.contect p{
    font-size:14px;

}

.address h3, {
    margin-top: 40%;
    font-weight: 200;
    font-size: 40px;
    margin-right: 50%;
    color: white;
}   
.address a{
    color:white;
}

#sub-address{
    color: #C0DFDA;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5%;
    margin-right: 85%;
}

#main-address{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    float: left;
    text-align: left;
}
#contact-detail{
    margin-top: 45%;
}

#contact-detail p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    
    float: left;
    margin-bottom: 0;
}

#contact-detail span{
    color: #D0EFEA;
}

.st iframe{
    height: 65%;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 50%;
}

.question h3{
    width: 35%;
    margin-top: 15%;
    font-size: 14px;
}
.question{
    padding-top: 80px;
}

.form-content input, textarea{
    font-size: 19px;
    width: 100%;
    padding: 8px 24px;
    margin: 8px 0;
    background: #68a097;
    outline:none;
    border: none;
    color: #68a097;
    border-radius: 5px;
}

.form-content input:focus,textarea:focus{
    background: #fff;
}

.form-content input:focus::placeholder, .form-content textarea:focus::placeholder{
    color: #68a097;
}

.form-content input:focus:placeholder, .form-content textarea:focus:placeholder{
    color: #CFE7E3;
}

.form-content textarea{
    width: 100%;
    height: 170px;
}

.form-content button{
    background: #df5c64;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    width: 43%;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 800;
    padding: 5px 16px;
    border:none;
}
.op{
    color:white;
    font-size: 40px;
}
#foot{
    text-align: center;
    background-color: #68A097;
    height: 100px;
    margin-top: 10px;
}

#foot .social-media {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #82C8BD;
    margin-top: 3%;
}

#foot .social-media a i {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 25%;
}
.navbar #tag0 .active {
    background-color: none;
}

.navbar #tag1 .active {
    background-color: #B24A50;
}

.navbar #tag2 .active {
    background-color: #91778E;
}

.navbar #tag3 .active {
    background-color: #A1CA6C;
}
.navbar #tag4 .active {
    background-color: #82C8BD;
}
 
 
 #lo{
    margin-top: 30%;
    margin-left:-40%;
    color: white;
 }

#foot #fb:hover{
    border: 1px solid blue;
    background-color: #4f689e; 



}
#foot #in:hover{
    border: 1px solid rgb(72,72,167);
    background-color:#3E61AF;
    


}
#foot #google:hover{
      border: 1px solid red;
    background-color:#DF5c64;
    


}
#foot #twitter:hover{
    border: 1px solid rgb(59,201,134);
    background-color:#74C7D5;

}
 /*contact and footer end*/






 /*media queries/*
===============
*/

@media  screen and (min-width: 1441px) and  (max-width: 2560px)
{

    .banner{
        height:100vh;
        width: 100%
        background-size: cover;
        background-position:center;
    
    }

    .txt-block{    
        
        margin-top:15%;
        margin-left:34%;
                
    }
    #indicators a{
    font-size: 60px;
        top: 35vh;
        margin-left:20%;
        margin-right:20%;
}
#xi{
        margin-right:-500px;
        padding-left: 200px;

    }


}
@media  screen and (min-width: 1440px) and  (max-width: 2000px)
{
    .banner{
        height:100vh;
        width: 100%
        background-size: cover;
        background-position:center;
    
    }
    .txt-block{
        position: relative;
        margin-top:14%;
        width:790px;
        height:150px;
        margin-left:20%;
        
    }

    .txt-block p{
        font-size: 50px;
        margin-top:10px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:0px;
        margin-right:200px;
        font-size: 55px;


    }
    .txt-block h1{
        font-size: 100px;
    }
    #xi{
        margin-right:-500px;
        margin-top: 10px;
        padding-left:200px;
    }


}



 @media screen and  (min-width: 992px)  and  (max-width: 1199px)
    {


    .banner{
        height:100vh;

    }



    .txt-block{
        position: relative;
        margin-top:15%;
        width:660px;
        height:150px;
        margin-left:17%;
        
    }

    .txt-block p{
        font-size: 50px;
        margin-top:10px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:0px;
        margin-left:-20px;
        font-size: 50px;


    }
    .txt-block h1{
        font-size: 100px;
    }




    #Services {
        height: 1350px;
    }

    #sd4{
        margin-top: 15%;
    }

    #mt{
        height: 1350px;
    }

    .card{
        height: 360px;
        width: 255px;
    }

    .filter{
        height:1050px;
    }

    .port-menu ul li:nth-child(1){
        margin-left:30px;
    }

    #ui{
        margin-left:9px;
    }

    .port-item{

        margin-left:55px;
    }
    #xi{
        margin-left:-50px;
    }
}



 @media screen and  (min-width: 768px)  and  (max-width: 991px)
     {
    

    .banner{
        height: 100vh;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }



    .txt-block{
    
        margin-top:20%;
        width:550px;
        height:120px;
        margin-left:15%;
        
    }

    .txt-block p{
        font-size: 40px;
        margin-top:8px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:-60px;
        margin-left:30px;
        font-size: 40px;


    }
    .txt-block h1{
        font-size: 80px;
    }








    #Services {

        height:1350px;
        }

    #sd1,#sd2, #sd3 , #sd4{
        margin-top: 15%;
     }   

     #sd1,#sd3{
        margin-left: 12%;
     }
     #sd2,#sd4{
        margin-left: 12%;
     }
        #mt{
            height: 1400px;
        }
        .card{
            height: 360px;
            width: 255px;
            margin: auto;   
        }
        .card{
            margin-top: 20%;
        }

        .filter{
        height:1250px;
    }
    #xi{
        margin-left:-70px;
        margin-top:20px;
    }
    .port-menu ul li:nth-child(1){
        margin-left:30px;
    }
    ul li.to{
        margin-left:-40px;
    }

    #ui{
        margin-left:-60px;
    }

    .port-item{

        margin-left:65px;
    }

    .contect{
        height: 750px;
    }
    #lo{
    
    margin-left:10%;
    margin-top: 50%;
    
    }
    iframe{
        margin-top: 95%;
    }

    #sub-address{
        margin-left:9%;

    }
    #main-address{
        margin-left: 9%;
        font-size:11px;
    }
    

    #contact-detail p{
        margin-left:12px;
        /*margin-top: 10px;*/
        font-size: 11px;
        padding-top:35px;
        line-height:0.1px;
    }
        
        #foot{
            margin-top:0px;

        }

    }

    @media screen and  (min-width: 576px)  and  (max-width: 767px)
     {




    .banner{
        height: 100vh;
        background-repeat: no-repeat;
        background-size:cover;
        
    }
/*


    .txt-block{
    
        margin-top:27%;
        width:550px;
        height:120px;
        margin-left:15%;
        
    }

    .txt-block p{
        font-size: 40px;
        margin-top:8px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:-60px;
        margin-left:30px;
        font-size: 40px;


    }
    .txt-block h1{
        font-size: 80px;
    }*/
    /*service start*/
    #Services {

        height:1400px;
        }

     #sd3 , #sd4{
        margin-top: 15%;
     }  

     /*service end*/
     /*meet stat*/
        #mt{
            height:1400px;
        }

        .card{
            margin-top:20%;
            height: 360px;
        }

        .btn1{
                height:60px;
                width: 200px;
                margin:auto;
            }
            .imgdescs:after{
                margin-top:7%;
            }
            /*meet end*/

     .filter{
        height:1300px;
    }   

     .port-item{
        width: 500px;
     }

    .port-menu ul li:nth-child(1){
        margin-left:-60px;
    }
    


    li#ui{
        margin-right:0px;
    }

    li#vi{

         padding-left:110px;

    }
       
    li#wi{
        
        
            margin-left:90px; 
    }   

    li#xi{
         
         margin-right:12px;
    }    
    

    }


@media screen and  (min-width: 425px)  and  (max-width:575px) {


.banner{
        height: 100vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
    }

    .txt-block{
    
        margin-top:40%;
        width:250px;
        height:120px;
        margin-left:19%;
        
    }
    .txt-block p{
        font-size: 30px;
        margin-top:8px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:-5px;
        margin-right:130px;
        font-size:30px;


    }
    .txt-block h1{
        font-size: 40px;
        margin-top:-60px;
        margin-left:100px;
    }

    #indicators a{
    font-size:30px;
    top: 35vh;

}



    #Services{
        height: 2200px;
    }


    #sd1, #sd2 ,#sd3,#sd4{
        margin:auto;
    }

    #sd2 ,#sd3,#sd4{
        margin-top:10%;
    }

        #mt{
            height: 2100px;
        }

        .card{
            height: 360px;
            width: 255px;
        }
        .card{
            margin: auto;
        }
        .card{
            margin-top:10%;     
             }

            .btn1{
                margin: auto;
                height: 60px;
                width: 180px;

            }

            .imgdescs:after{
                margin-top:9%;
            }


            .filter{
                height:2250px;
                }

            .port-item{

                          
                
                margin-left:15%;
            }
            
            #ui{
                margin-left:27px;
            }
            #vi{
                margin-left:30px;
            }
            #xi{
                margin-left:49px;
            }
            #wi{
                margin-left:40px;
            }

            iframe{
                margin-top:100px;
                width:390px;
                height: 300px;
                /*margin-left:-5px;*/
            }
            
            #lo{
                margin-left: 0px;
                margin-top: 0px;
           }

           #sub-address{
            margin-top: 60px;
           }

           #contact-detail{
            margin-top:80px;
           }

           
           #contact-detail p{

            margin-top:-23px;
            margin-right:10px;

           }

           #contact-detail p:nth-child(1){
            margin-top:0px;
            
           }
           


           #contact-detail p:nth-child(2){
            margin-top: 20px;
            margin-left:-185px;
            
           }
           #contact-detail p:nth-child(3){
            margin-top: 60px;
            margin-left:-187px;
            
           }
           #contact-detail p:nth-child(4){
            padding-top: 20px;
            margin-top: 20px;
            margin-left:-195px;
            
            
           }
           #foot{
            height: 80px;
           }
           
}       
 
 @media screen and  (min-width: 375px)  and  (max-width:424px) {


.banner{
        height: 100vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
    }

    .txt-block{
    
        margin-top:50%;
        width:250px;
        height:120px;
        margin-left:19%;
        
    }
    .txt-block p{
        font-size: 30px;
        margin-top:8px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:-5px;
        margin-right:130px;
        font-size:30px;


    }
    .txt-block h1{
        font-size: 40px;
        margin-top:-60px;
        margin-left:100px;
    }

    #indicators a{
    font-size:30px;
    top: 35vh;

}



    #Services{
        height: 2200px;
    }


    #sd1, #sd2 ,#sd3,#sd4{
        margin:auto;
    }

    #sd2 ,#sd3,#sd4{
        margin-top:10%;
    }

        #mt{
            height: 2100px;
        }

        .card{
            height: 360px;
            width: 255px;
        }
        .card{
            margin: auto;
        }
        .card{
            margin-top:10%;     
             }

            .btn1{
                margin: auto;
                height: 60px;
                width: 230px;

            }

            .imgdescs:after{
                margin-top:9%;
            }


            .filter{
                height:2250px;
                }

            .port-item{

                          
                      margin-right:14%;
                      margin-left:12%;
            }
            
            #ui{
                margin-left:27px;
            }
            #vi{
                margin-left:30px;
            }
            #xi{
                margin-left:49px;
            }
            #wi{
                margin-left:40px;
            }

            iframe{
                margin-top:100px;
                width:350px;
                height: 300px;
                /*margin-left:-5px;*/
            }
            
            #lo{
                margin-left: 0px;
                margin-top: 0px;
           }

           #sub-address{
            margin-top: 60px;
           }

           #contact-detail{
            margin-top:80px;
           }

           
           #contact-detail p{

            margin-top:-23px;
            margin-right:10px;

           }

           #contact-detail p:nth-child(1){
            margin-top:0px;
            
           }
           


           #contact-detail p:nth-child(2){
            margin-top: 20px;
            margin-left:-185px;
            
           }
           #contact-detail p:nth-child(3){
            margin-top: 60px;
            margin-left:-187px;
            
           }
           #contact-detail p:nth-child(4){
            padding-top: 20px;
            margin-top: 20px;
            margin-left:-195px;
            
            
           }
           #foot{
            height: 80px;
           }
           
}       



@media screen and  (min-width: 319px)  and  (max-width:374px) {


.banner{
        height: 100vh;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        
    }

    .txt-block{
    
        margin-top:60%;
        width:250px;
        height:120px;
        margin-left:11%;
        
    }
    .txt-block p{
        font-size: 30px;
        margin-top:8px;
        margin-left: 5px;
    }
    .txt-block p span{

        margin-top:-5px;
        margin-right:130px;
        font-size:30px;


    }
    .txt-block h1{
        font-size: 40px;
        margin-top:-60px;
        margin-left:100px;
    }

    #indicators a{
    font-size:30px;
    top: 35vh;

}



    #Services{
        height: 2200px;
    }


    #sd1, #sd2 ,#sd3,#sd4{
        margin:auto;
    }

    #sd2 ,#sd3,#sd4{
        margin-top:10%;
    }

        #mt{
            height: 2200px;
        }

        .card{
            height: 360px;
            width: 255px;
        }
        .card{
            margin: auto;
        }
        .card{
            margin-top:10%;     
             }

            .btn1{
                margin: auto;
                height: 60px;
                width: 180px;

            }

            .imgdescs:after{
                margin-top:9%;
            }


            .filter{
                height:2300px;
                }

            .port-item{

                          
                margin-right:15%;
                margin-left:4%;
            }

            li{
                margin-top:0px;
            }
            
            #ui{
                margin-top:0px;
                margin-left:100px;
            }
            #vi{
                margin-left:9px;
            }
            #xi{
                margin-left:32px;
            }
            #wi{
                margin-left:20px;
            }

            iframe{
                margin-top:100px;
                width:300px;
                height: 300px;
                /*margin-left:-5px;*/
            }
            
            #lo{
                margin-left: 0px;
                margin-top: 0px;
           }

           #sub-address{
            margin-top: 60px;
           }

           #contact-detail{
            margin-top:80px;
           }

           
           #contact-detail p{

            margin-top:-23px;
            margin-right:10px;

           }

           #contact-detail p:nth-child(1){
            margin-top:0px;
            
           }
           


           #contact-detail p:nth-child(2){
            margin-top: 20px;
            margin-left:-185px;
            
           }
           #contact-detail p:nth-child(3){
            margin-top: 60px;
            margin-left:-187px;
            
           }
           #contact-detail p:nth-child(4){
            padding-top: 20px;
            margin-top: 20px;
            margin-left:-195px;
            
            
           }
           #foot{
            height: 80px;
           }
           
}  
