/* Start Home Section */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

/*//slick//*/

.text-slider {
    height: 240px;
    /*width: 300px;*/
    float: left;
    font-weight: 900;
    margin-left: 10px;
    color:cyan;
    font-size: 16px;
    padding-top: 120px;
    /* text-align: center; */
}
.imges {
    margin-left: 290px;
    float: right;
    height: 240px;
    width: 300px;
}
.imges img {
    float: right;
    height: 240px;
    width: 300px;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: auto;
    height: 250px;
}

.slick-slide {
    margin-top: 150px;
    /*margin: 0px 20px;*/
    /*border: 4px solid black;*/
    height: 250px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-list {
    height: 450px;
}

.variableslider {
    display: flex;
}

.variable .img-item {
    width: 450px;
    height: 250px;
    /*margin: 50px;*/
}

.variable .img-item .img-text img {
    width: 634px;
    height: 242px;
    /*margin: 50px;*/
}

img {
    width: 100%;
    height: 250px;
    /*margin: 50px;*/
}

/*custom css*/

.btn {
    margin-left: 300px;
    margin-bottom: -60px;
}

.add-text {
    background-color: grey;
    height: 20px;
}

.js-remove-slide {
    background-color: red;
    height: 30px;
}

.add-slide {
    background-color: green;
    height: 30px;
}

.text {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 120px;
    left: 200px;
    background-color: rgba(255, 255, 255, 0);
    padding-right: 20px;
}

.text p {
    color:cyan;
    padding-left: 90px;
    font-weight: bold;
}

.video-wrapper {
    position: relative;
    height: 0;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
}

.img-item iframe {
    width: 642px;
    height: 250px;
}

.navbar {
    background: rgb(0, 0, 0, 0.3);
    /* background-color : transparent; */
}

.navbar-brand span {
    font-family: Damion;
    font-size: 35px;
    opacity: 1;
    letter-spacing: 0;
    color: white;
}

ul#menu-color li a {
    color: white;
    font-family: Lato-Regular;
}

.home-tag:active {
    background-color: #74C7D5;
    padding-top: 0px;
    width: auto;
    height: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.service-tag:active {
    background-color: #DF5C64;
    padding-top: 0px;
    width: auto;
    height: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: all .3s;
}

.about-tag:active {
    background-color: #91778E;
    padding-top: 0px;
    width: auto;
    height: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.work-tag:active {
    background-color: #A1CA6C;
    padding-top: 0px;
    width: auto;
    height: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.contact-tag:active {
    background-color: #82C8BD;
    padding-top: 0px;
    width: auto;
    height: auto;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.hbgimg {
    background: url(../img/main-banner.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

#carouselExampleIndicators {
    margin-top: 25%;
    margin-bottom: 25%;
}

.c-bg {
    width: 730px;
    height: 130px;
    background-color: rgb(255, 255, 255, 0.5);
}

.slide-text {
    width: 367px;
    height: 188px;
    font-family: Lato-Light;
    font-size: 50px;
    color: #74C7D5;
    position: absolute;
}

.sgood-ideas {
    padding-top: 15px;
    padding-left: 44px;
}

.scomes {
    float: right;
    margin-right: 20px;
    margin-top: -40px;
}

.sfirst {
    padding-top: 15px;
    padding-right: 20px;
    float: right;
    font-family: Lato-Black;
    margin-right: 30px;
    margin-top: -20px;
    color: #74C7D5;
    font-size: 100px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #74C7D5;
}

.indicator-space {
    position: relative;
    margin-top: 22%;
}

/* End Home Section */

/* Start Service Section */

.sbgimg {
    background: #B24A50 url(../img/red-layer.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

.our-services {
    padding-top: 174px;
    color: #FFFFFF;
    font-family: Lato-Light;
}

.services-text1 {
    color: #FFFFFF;
    font-family: Lato-Regular;
}

.services-text1 span {
    color: #EC9DA2;
}

.services-text2 {
    color: #FFCCCF;
    font-family: Lato-Regular;
    font-size: 14px;
}

.card-margin {
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: 480px; */
}

.c-4 {
    width: 256px;
    height: 400px;
    background: #C8535A 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.8;
}

.w-circle {
    width: 130px;
    height: 130px;
    margin: 39px 62px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #FFFFFF;
    opacity: 1;
    border-radius: 100%;
}

.r-circle {
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 5px solid #C8535A;
    opacity: 1;
    border-radius: 100%;
}

.card-img-bulb {
    width: 45px;
    height: 68px;
    margin: 15px 26px;
}

.card-img-wand {
    width: 60px;
    height: 60px;
    margin: 18px 18px;
}

.card-img-giars {
    width: 68px;
    height: 62px;
    margin: 16px 12px;
}

.card-img-rocket {
    width: 64px;
    height: 64px;
    margin: 19px 14px;
}

.card-title-t {
    font-family: Lato-Light;
    color: #FFFFFF;
    margin-top: -40px;
}

.c-4 .card-text {
    color: #FEFEFE;
    font-size: 14px;
    font-family: Lato-Regular;
    text-align: center;
    opacity: 1;
    letter-spacing: 0;
    margin-top: 35px;
}

/* End Service Section */

/* Start About Section */

.abgimg {
    background: #665464 url(../img/purple-layer.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

.our-about {
    padding-top: 174px;
    color: #FFFFFF;
    font-family: Lato-Light;
}

.about-text {
    color: #E6D1E3;
    font-family: Lato-Regular;
    font-size: 14px;
}

#rectangle {
    width: 256px;
    height: 47px;
    background: #A1CA6C;
    border-radius: 6px;
    margin: 33px 434px;
}

.meet-the-team {
    color: #FFFFFF;
    font-family: Lato-Black;
    font-size: 25px;
    text-align: center;
    padding: 10px 0px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 24px solid transparent;
    border-top: 26px solid #A1CA6C;
    margin: -18px 111px;
}

.about-card-margin {
    margin-top: 82px;
    margin-bottom: 100px;
    /* height: 480px; */
}

.about-c-4 {
    width: 260px;
    height: 380px;
    background: #4C3F4B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.8;
}

.about-w-circle {
    width: 150px;
    height: 150px;
    margin: 38px 55px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #665464;
    opacity: 1;
    border-radius: 100%;
    overflow: hidden;
}

.card-img-user-purple {
    width: 144px;
    height: 140px;
    margin: 11px -2px;
}

.about-card-title {
    font-family: Lato-Black;
    color: #C7B6C5;
    margin-top: -40px;
    font-size: 25px;
}

.about-card-text {
    color: #A1CA6C;
    font-size: 14px;
    font-family: Lato-Regular;
    text-align: center;
    opacity: 1;
    letter-spacing: 0;
    margin-top: -11px;
}

ul.ul-icon {
    padding: 1px 3px;
    display: flex;
    list-style: none;
}

.about-icon {
    width: 30px;
    height: 30px;
    margin: 33px 12px;
    background-color: #A1859E;
    opacity: 1;
    border-radius: 100%;
}

.about-icon i {
    color: #FFFFFF;
    margin: 7px;
}

.about-c-4:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.about-c-4:hover .card-img-user-purple {
    content: url(../img/user-orange.png);
}

.about-c-4:hover .about-w-circle {
    border: 5px solid #DF5C64;
}

.about-c-4:hover .about-card-title {
    color: #FFFFFF;
}

.about-c-4:hover .about-card-text {
    color: #FF8973;
}

.about-c-4:hover .a-fb {
    background: #4F689E;
}

.about-c-4:hover .a-twitter {
    background: #74C7D5;
}

.about-c-4:hover .a-googleplus {
    background: #DF5C64;
}

.about-c-4:hover .a-li {
    background: #3E61AF;
}

/* End About Section */

/* Start Work Section */

.wbgimg {
    background: #81A256 url(../img/green-layer.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

.our-work {
    padding-top: 150px;
    color: #FFFFFF;
    font-family: Lato-Light;
}

.work-text {
    color: #FFFFFF;
    font-family: Lato-Regular;
    font-size: 14px;
}

.green-line {
    width: 96%;
    margin-top: 30px;
    border: 1px solid #94B963;
}

.p-nav span#portfolio {
    font-size: 20px;
    font-family: Lato-Bold;
    color: #FFFFFF;
}

.green-line2 {
    width: 96%;
    margin-top: 16px;
    border: 1px solid #94B963;
}

.p-nav {
    background-color: transparent;
    cursor: pointer;
}

.p-navbar {
    margin-left: 310px;
}

.work-height {
    margin-top: 80px;
    margin-left: 15px;
}

.column {
    float: left;
    width: 24%;
    /* display: none;  */
}

.content {
    width: 230px;
    height: 224px;
    background-color: #EEEEEE;
    padding: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.content img {
    width: 100%;
}

#triangle-up {
    margin: -136px;
    padding: 67px 0px;
    border-left: 23px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 31px solid #EEEEEE;
}

.content h1 {
    color: #727272;
    font-size: 14px;
    font-family: Lato-Regular;
}

.work-hover {
    display: inline-block;
    position: absolute;
    margin: 72px 93px;
    /* background-color: rgb(0,0,0,0.5); */
}

.white-border {
    opacity: 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100%;
    margin: 4px 10px;
}

.plus {
    margin-left: 9px;
    /* margin-bottom: -54px; */
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 21px;
    /* position: fixed;*/
}

.content:hover .white-border {
    opacity: 1;
    background: rgb(0, 0, 0, 0.5);
}

.content img:hover {
    /* background: rgb(0,0,0,0.5); */
    opacity: 0.5;
}

/* End Work Section */

/* Start Contact Section */

.cbgimg {
    background: #75B4AA url(../img/blue-layer.png);
    width: 100%;
    height: auto;
    background-size: cover;
}

.contact-us {
    padding-top: 150px;
    color: #FFFFFF;
    font-family: Lato-Light;
}

.contact-text {
    color: #FFFFFF;
    font-family: Lato-Regular;
    font-size: 14px;
}

.con-margin {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -13px;
}

.con-margin1 {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: -78px;
}

.address {
    color: #FFFFFF;
    font-family: Lato-Light;
    font-size: 30px;
}

.add2 {
    color: #FFFFFF;
    font-family: Lato-Bold;
    font-size: 20px;
}

.add3 {
    color: #FFFFFF;
    font-family: Lato-Regular;
    font-size: 16px;
}

.add4 {
    margin-top: 110px;
    color: #D0EFEA;
    font-family: Lato-Regular;
    font-size: 16px;
}

.caddress {
    display: inline-block;
}

.cmap {
    display: inline-block;
    margin-left: -25px;
}

.question h3 {
    margin-left: 24px;
    width: 35%;
    color: #FFFFFF;
    font-family: Lato-Light;
}

.form-content input, textarea {
    font-size: 19px;
    padding: 8px 24px;
    /* margin: 5px 24px; */
    background: #68a097;
    outline: none;
    border: none;
    color: #68a097;
    border-radius: 5px;
}

.form-content input {
    width: 95%;
    margin: 5px 24px;
}

.form-content textarea {
    width: 98%;
    height: 170px;
    margin: 30px 24px;
}

.form-content .send {
    background: #df5c64;
    color: #fff;
    font-size: 24px;
    width: 43%;
    margin: -14px 165px;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 16px;
    border: none;
}

.form-content input:hover, textarea:hover {
    background: #fff;
}

.form-content input:hover::placeholder, .form-content textarea:hover::placeholder {
    color: #68a097;
}

.form-content input::placeholder, .form-content textarea::placeholder {
    color: #CFE7E3;
}

#foot {
    text-align: center;
    background-color: #68A097;
    height: 100px;
}

#foot .social-media {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #82C8BD;
    margin-top: 3%;
}

#foot .social-media a i {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 25%;
}

#fb:hover {
    background: #4F689E;
}

#twitter:hover {
    background: #74C7D5;
}

#google:hover {
    background: #DF5C64;
}

#in:hover {
    background: #3E61AF;
}

/* End Contact Section */